.first-section {
  position: relative;
  
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 211fr 698fr 102fr 479fr 219fr 165fr 46fr;
  grid-template-columns: 211fr 698fr 102fr 479fr 219fr 165fr 46fr;
  -ms-grid-rows: min-content min-content min-content min-content;
  grid-template-rows: repeat(4, min-content);
  justify-items: start;


  
  padding-top: 6px;
  margin-bottom: 60px;
  overflow: hidden;

  &::after {
    content:"";
    position: absolute;
    z-index: 6;
    display: block;
    width: 2px;
    height: 80px;
    left: 50%;
    bottom: 67px;
    transform: translateX(-50%);

    background-image: linear-gradient(#F7F7F7 0%, #F7F7F7 50%, #000000 50%, #000000 100%);
  }
}

.first-section__picture {
  &--left {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    -ms-grid-row: 1;

    grid-column: 2/4;
    grid-row: 1/2;
    z-index: 2;
    margin-top: 88px;
    margin-bottom: 121px;
  }

  &--right {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    -ms-grid-row: 1;

    grid-column: 5/7;
    grid-row: 1/2;
    z-index: 1;
  }

  &--center {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;

    grid-column: 3/6;
    grid-row: 1/4;
    z-index: 4;
    margin-top: 218px;

    @media (min-width: 1200px) {
      margin-top: 255px;
    }
    @media (min-width: 1350px) {
      margin-top: 293px;
    }
    @media (min-width: 1600px) {
      margin-top: 320px;
    }
    @media (min-width: 1920px) {
      margin-top: 314px;
    }
  }
}

.first-section__menu {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  grid-column: 1/2;
  grid-row: 1/2;

  margin: 0;
  margin-left: 24px;
  margin-top: 84px;
}

.first-section__persons {
  -ms-grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-column: 2/3;
  grid-row: 2/4;
  margin: 0;
}

.first-section__subtitle {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  -ms-grid-row: 4;
  grid-column: 1/-1;
  grid-row: 4/5;
  justify-self: center;
  margin: 0;

  font-size: 18px;
  font-family: LuciferSansSemiCondensed, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 21px;
  letter-spacing: -0.5px;
}

.first-section__title {
  position: absolute;

  color: $text-color-3;
  font-family: LuciferSansSemiCondensed, Arial, sans-serif;
  font-size: 200px;
  font-weight: bold;
  text-transform: uppercase;
  pointer-events: none;

  @media (min-width: 1200px) {
    font-size: 250px;
  }
  @media (min-width: 1350px) {
    font-size: 300px;
  }
  @media (min-width: 1600px) {
    font-size: 350px;
  }
  @media (min-width: 1920px) {
    font-size: 400px;
  }

  &--suvi {
    top: 67px;
    left: -3000px;
    transform: translateX(-50%);
    z-index: 3;
    will-change: left;

    animation-name: suvi;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;

    @media (min-width: 1200px) {
      top:59px
    }
    @media (min-width: 1350px) {
      top:52px
    }
    @media (min-width: 1600px) {
      top: 45px;
    }
    @media (min-width: 1920px) {
      top: 39px;
    }

    &::before {
      content: "Paris";
      position: absolute;
      right: -48px;
      bottom: 42px;
      display: block;
      color: $text-color-1;
      font-size: 21px;
      text-transform: uppercase;
      letter-spacing: 0.8px;

      @media (min-width: 1200px) {
        right: -46px;
        bottom: 48px;
      }
      @media (min-width: 1350px) {
        right: -42px;
        bottom: 54px;
      }
      @media (min-width: 1600px) {
        right: -40px;
        bottom: 69px;
      }
      @media (min-width: 1920px) {
        right: -37px;
        bottom: 119px;
      }
    }

    &::after {
      content: "2019";
      position: absolute;
      right: -70px;
      bottom: 65px;
      display: block;
      color: $text-color-3;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 0.6px;

      @media (min-width: 1200px) {
        right: -70px;
        bottom: 71px;
      }
      @media (min-width: 1350px) {
        right: -70px;
        bottom: 77px;
      }
      @media (min-width: 1600px) {
        right: -70px;
        bottom: 92px;
      }
      @media (min-width: 1920px) {
        right: -70px;
        bottom: 142px;
      }
    }
  }

  &--kopon {
    bottom: 384px;
    left: -3000px;
    z-index: 6;
    will-change: left;

    animation-name: koponen;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;

    &::before {
      content: "e";
      position: absolute;
      right: -0.6em;
      bottom: 0;
      transform: rotate(0);
      z-index: 6;
      will-change: right, bottom, transform;

      animation-name: koponen-e;
      animation-duration: 1.5s;
      animation-delay: 2.2s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;
    }

    &::after {
      content: "n";
      position: absolute;
      right: -1.27em;
      bottom: 0;
      transform: rotate(0);
      z-index: 6;
      will-change: right, bottom, transform;

      animation-name: koponen-n;
      animation-duration: 1.5s;
      animation-delay: 2.2s;
      animation-fill-mode: forwards;
    }
  }
}

.first-section__card {
  position: absolute;
  bottom: 177px;
  left: -3000px;
  z-index: 5;

  width: 468px;
  min-height: 261px;
  padding: 23px 30px;
  column-gap: 30px;

  will-change: left;

  animation-name: first-card;
  animation-duration: 1.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}