.persons {
  font-size: 16px;
  font-family: LuciferSansSemiCondensed, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.6px;
}

.persons__role {
  margin-bottom: 5px;
}

.persons__name {
  margin: 0;

  color: $text-color-2;

  &:not(:last-of-type) {
    margin-bottom: 30px;
  }
}