@font-face {
  font-family: "LuciferSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/lucifer-sans-regular.woff2') format('woff2'),
       url('../fonts/lucifer-sans-regular.woff') format('woff')
}

@font-face {
  font-family: "LuciferSansSemiCondensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/lucifer-sans-semi-condensed-bold.woff2') format('woff2'),
       url('../fonts/lucifer-sans-semi-condensed-bold.woff') format('woff')
}